.header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900 !important;
    font-size: 24px;
    line-height: 28px;
    color: #1875F0;
}

nav {
    padding-left: 50px !important;
    padding-right: 80px !important;
    font-family: Segoe UI;
    font-size: 14px;
    line-height: 19px;
}

.sidebar {
    width: 260px;
    padding-top: 30px;
    /* background: white; */
}

.sidebar button {
    background: #27AE60;
    border-radius: 30px;
    margin-left:31px;
}

.sidebar .route {
    padding:10px 10px 10px 41px ;
    margin-bottom: 15px;
    font-family: Segoe UI;
}

.sidebar .active{
    border-left: 4px solid #1875F0;
    background: rgba(24, 118, 240, 0.151);
}

.sidebar div{
    font-size: 11px;
    line-height: 15px;
}

.sidebar .Text{
    padding-left: 42px;
    margin-top:35px;
    margin-bottom: 15px;
}

.dashboard{
    background:#E5E5E5 ;
    width: 100%;
    padding:30px 33px;
    height: '';
}